* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #ccc !important;
  padding-top: 100px;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}