.signup {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-holder {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.671);
  box-shadow: 4px 8px 10px gray;
  min-width: 300px;
  width: 50%;
  padding: 20px;
}

.form-holder h2 {
  text-align: center;
  font-weight: 600;
}

.form-holder p {
  display: flex;
  /* text-decoration: underline; */
  margin: 10px 10px;
}

form strong {
  font-size: 20px;
}

form strong span {
  color: red;
}

form div {
  margin-bottom: 4px;
}

form div input {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 3px 5px gray;
}

form div input:focus {
  box-shadow: 1px 3px 5px rgb(5, 5, 5);
}

form button {
  transition: 0.5s;
  width: 100%;
  padding: 10px;
  color: #fff;
  margin: 15px 0 5px;
  font: 20px bold;
  background-color: black;
}

form button:hover {
  box-shadow: 2px 4px 6px black;
  border-radius: 5px;
  color: #fff;
  font: 20px bold;
  background-color: rgba(0, 0, 0, 0.753);
}

.btn-login {
  transition: 0.5s;
  text-decoration: underline;
  display: block;
  width: max-content;
  text-align: center;
  padding-left: 5px;
  color: #000;
  font: 20px bold;
}
